/.idea/
/.vs/
.gitignore
/CarWorkshop.Application/bin/
/CarWorkshop.Domain/bin/
/CarWorkshop.Infrastructure/bin/
/CarWorkshop.MVC/bin/
/CarWorkshop.Application/obj/
/CarWorkshop.Domain/obj/
/CarWorkshop.Infrastructure/obj/
/CarWorkshop.MVC/obj/
CarWorkshop.sln
CarWorkshop.ApplicationTests2/obj/
CarWorkshop.ApplicationTests2/bin/
CarWorkshop.MVCTests/obj
CarWorkshop.Domain.Tests/obj
CarWorkshop.Domain.Tests/bin